In [30]:
import json
import os
import typing as tp
from datetime import date, datetime

import numpy as np
import optuna
import pandas as pd
# from common_metrics.metrics.recsys import MAP, HitRate, NDCG, PrecisionRecall
from loguru import logger
from scipy import sparse
from sklearn.preprocessing import normalize
from tqdm import tqdm

In [31]:
train1 = pd.read_csv('../data/train1level.csv')
test1 = pd.read_csv('../data/test1level.csv')
holdout1 = pd.read_csv('../data/holdout1level.csv')

In [32]:
train1 = train1[train1.rating >= 3]

In [33]:
train1.head()

   userid  movieid  rating  timestamp
0       0      120     5.0  838985046
1       0      183     5.0  838983525
2       0      228     5.0  838983392
3       0      289     5.0  838983421
4       0      313     5.0  838983392

In [34]:
top_movie = list(train1.movieid.value_counts()[:10].index)

In [35]:
def HR(holdout1, top_movie):
    count_of_true_rec = 0
    for index, row in holdout1.iterrows():
        movie = row.movieid
        if movie in top_movie:
            count_of_true_rec += 1
    return count_of_true_rec / len(holdout1)

In [36]:
hr = HR(holdout1, top_movie)
hr

0.027420948616600792